#container {
    display: flex;
    flex-wrap: wrap;
}

#container > div {
    background-color: yellow;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 200px;
}



div.q {
    position: relative;
    display: block;
    align-self: center;
    margin: auto;
    height: auto;
    padding-top: 50%;
    transform: translateY(-50%);
}

div.links {
    display: block;
    position: absolute;
    top: 0;
    right: 16px;

    text-align: end;
    margin: 10px;
    width: 200px;
    height: auto;
}

.s {
    position: relative;
    display: flex;
    align-items: center;
    min-height: auto;
    justify-content: center;
    margin: auto;
}



#b {
    width: 12cm;
    height: 0.8cm;
    font-style: normal;
    font-size: medium;
}